<?xml version="1.0" ?>
<launch>
  <include file="$(find end_effector_control)/launch/demo.launch" />

  <node pkg="end_effector_control" type="continuous_collision_checker" name="PRTRRT_star_collision_checker" output="screen" />
  <node pkg="end_effector_control" type="PRTRRT_star_planner_parent_process.py" name="PRTRRT_star_planner" output="screen" />
  <node pkg="end_effector_control" type="PRTRRT_star_controller.py" name="PRTRRT_star_controller" output="screen" />
  <node pkg="end_effector_control" type="test_interface_v3.py" name="test_interface" output="screen" />
  <node pkg="end_effector_control" type="test_interface_client.py" name="test_interface_client" output="screen" />
</launch>
